body {
    font-family: Arial, sans-serif; /* Yazı tipi ailesi */
    font-size: 10px; /* <p></p> etiketindeki ana yazının boyutu */
    background-color: #00ffc8; /* Web sayfasının arka plan rengi */
    color: #0058aa; /* Metin rengi */
}

h1 {
    color: #ff0000; /* Başlık rengi */
    font-size: 32px; /* Başlık yazı tipi boyutu */
    font-family: 'Inter'; /* Başlıkta kullanılan yazı tipi ailesi */
}

h2 {
    color: #ff7b00; /* Başlık rengi */
    font-size: 17px; /* Başlık yazı tipi boyutu */
    font-family: Georgia, serif; /* Başlıkta kullanılan yazı tipi ailesi */
}

h3 {
    color: #1900ff; /* Başlık rengi */
    font-size: 25px; /* Başlık yazı tipi boyutu */
    font-family: 'Pixel', 'Pixel'; /* Başlıkta kullanılan yazı tipi ailesi */
}

h4 {
    color: #00ffc8; /* Başlık rengi */
    font-size: 40px; /* Başlık yazı tipi boyutu */
    font-family: 'Pixel', 'Pixel'; /* Başlıkta kullanılan yazı tipi ailesi */
}

@keyframes color-change {
    0% {
      color: blue;
    }
  
    25% {
      color: yellow;
    }
  
    50% {
      color: green;
    }

    75% {
      color: red;
    }
    
    100% {
      color: blue;
    }
}

@keyframes master-color-change {
    0% {
      color: red;
    }

    25% {
        color: red;
    }

    60% {
      color: orange;
    }

    90% {
      color: yellow;
    }

    100% {
        color: red;
    }
}

h1 {
    animation: master-color-change 1s infinite;
}

h3:hover { animation: color-change 100ms infinite; }

h4 {
    animation: color-change 500ms infinite;
}