<!DOCTYPE html>
<html>
<head>
    <title>FBCSitesi</title>
    <link rel="icon" type="image/x-icon" href="../static/img/FBCMasters.png">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>FBCSitesi</h1>
    <p>Bu site daha tamamlanmadı hatalar olabilir</p>
    <h2>Yenilikleri görmek için beklemede kalın!</h2>
    <h3>Maceraya hazır olun!</h3>
    <h4>MACERA BAŞLIYOR!!!</h4>
             <ul>
                   <li>FBC = Ferman Barış Cihangir</li>
                   <li>FM = FBCMaster</li>
             </ul>
     <img src="../static/img/FBCMasters.png" alt="Yapımcısı = FBCMaster">
</body>
</html>