<!DOCTYPE html>
<html>
<head>
    <title>Kodland Platform</title>
    <link rel="icon" type="image/x-icon" href="../static/img/Kodland.png">
    <link rel="stylesheet" href="../static/css/kod.css">
</head>
<body>
    <h1>Kodland'e hoş geldiniz!</h1>
    <h2>Öncelikle Python'un temellerini hatırlayalım!</h2>
             <ul>
                   <li>Bu programın çıktısı ne olacak?</li>
             </ul>
    <p>my_words = ["Hi!", "Python Pro", "Kodland"]  print(my_words[1])</p>
             <ul>
                    <li>Bu kod ne yapacak?</li>
             </ul>
    <p>name = input()   print("Hi ", name)</p>
             <ul>
                    <li>Peki ya bu programda neler oluyor?</li>
             </ul>
    <p>import random    emojis = ["^^", "0_o", ":)", "¯\\_(ツ)_/¯", "(￢_￢)"]    print(random.choice(emojis))</p>
     <img src="../static/img/Green.png" alt="bugünkü dersimiz bu kadardı">
</body>
</html>