<!DOCTYPE html>
<html>
<head>
    <title>FBCSitesi</title>
    <link rel="icon" type="image/x-icon" href="../static/img/ViraBot.png">
    <link rel="stylesheet" href="../static/css/virüs.css">
</head>
<body>
    <h1>Virüslü Site!!!</h1>
    <h2>Bu site daha çok virüslü sakın indirmeyin!</h2>
    <h2>Sakın linklere girmeyin bile!</h2>
    <h1>Bu virüsleri sadece FBCMaster kontrol edebilir!</h1>
    <h2>Linke girerseniz bilgisayarınızı bir daha açamazsınız!!!</h2>
     <img src="../static/img/Error.png" alt="Bilgisayarınız hata verir">
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1>Virüsler:</h1>
    <h2>Memz Trojan:</h2>
     <img src="../static/img/Memz.jpg" alt="Sakın açmayın!">
    <h1></h1>
    <a href = https://s28667145.weebly.com>     www.downloadvirüs/memz/entehlikelivirüs/sakınbasmayın.com </a>
</body>
</html>